extends layout

block content
  .row.justify-content-center
    .card.col-lg-4
      .card-body
        h1 #{title}
        br
        form#login-form.needs-validation(
          method='post',
          novalidate=''
        )
          .form-group#phoneNumber
            label(for='phoneNumber') Phone Number
            div
                input.form-control(
                  type='tel',
                  name='phoneNumber',
                  required='',
                  placeholder='Phone Number',
                  class={ "is-invalid": errors.phoneNumber }
                )
                if errors.phoneNumber
                    .invalid-feedback
                      | #{errors.phoneNumber}
            br
          .form-group
              label(for='password') Password
              input.form-control#password(
                type='password',
                name='password',
                required='',
                placeholder='Password',
                class={ "is-invalid": errors.password }
              )
              if errors.password
                .invalid-feedback
                  | #{errors.password}
          button.btn.btn-primary.btn-block(type='submit') Log In

