extends layout

block content
  .container
    h1 #{title}
    table.table.table-bordered(style='width:100%', border='1')
      thead
        tr
          th(scope='col') Id
          th(scope='col') Username
          th(scope='col') PhoneNumber
          th(scope='col') Notes
      tbody
          each note in data
            td= note
          tr
            td(scope='row') #{note_id}
            td #{username}
            td #{phoneNumber}
            td #{note}
