extends layout

block content
  .container
    h1 #{title}
    table.table.table-bordered(style='width:100%', border='1')
      thead
        tr
          th(scope='col') Notes
          th(scope='col') Username
          th(scope='col') Phone Number
      tbody
          for note in results
            td= note
          tr
            td(scope='row') #{results.note}
            td #{results.username}
            td #{results.phoneNumber}
